body{
    background-color: rgb(17, 17, 17);
}
.search{
    display: block;
    background-color: rgb(17, 17, 17);
    border: none;
}
.video{
    /* display: inline-block; */
}
.video-preview{
    margin-bottom: 10px;
}
.thumbnail{
    width: 100%;
}
.info{
    display: grid;
    grid-template-columns: 45px 1fr;
}
.about{
    padding-left: 10px;
}
.profile1{
    width:100%;
    border-radius: 50%;
}
.title{
    line-height: 25px;
    margin-top: 0%;
    font-family:Roboto, Helvetica, sans-serif;
    font-weight: 500;
    color:white
}
.author,.stats{
    font-family: Roboto,Arial;
    line-height: 10px;
    font-size: 15px;
    color: rgba(202, 191, 191, 0.651);
}

#row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}