body{
    /* background-color: rgb(17, 17, 17); */
    background-color:whitesmoke;
    height: 150vh;
    padding: 20px;
    padding-top:80px;
    padding-left: 99px; 
    overflow-x: hidden;
}

#row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
@media(max-width:700px){
    #row1{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:700px)and(max-width:999px){
    #row1{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:1000px){
    #row1{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-preview{
    margin-bottom: 10px;
}
.thumbnail{
    width: 100%;
}
.info{
    display: grid;
    grid-template-columns: 45px 1fr;
}
.about{
    padding-left: 10px;
}
.profile1{
    width:100%;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
.title{
    line-height: 25px;
    margin-top: 0%;
    font-family:Roboto, Helvetica, sans-serif;
    font-weight: 700;
    /* color:white */
    color: black;
}
.author,.stats{
    font-family: Roboto,Arial;
    line-height: 10px;
    font-size: 15px;
    /* color: rgba(202, 191, 191, 0.651); */
    color:rgb(63, 58, 58);
}

.topbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    box-shadow: 0px 1px 1px rgb(243, 213, 213);
    left: 0;
    right: 0;
    top: 0;
    height:63px ;
    padding-left: 25px;
}
.hamburger-menu{
    width: 28px;
}
.youtube-logo{
    height: 22px;
    margin-left: 28px;
}

.left-bar{
    display: flex;
    align-items: center;
    /* width: 200px; */
}

.middle-bar{
    display: flex;
    width: 510px;
    align-items: center;
    margin-left: 68px;
    margin-right: 30px;
    /* background-color: blueviolet; */
}
.search{
    padding-left: 15px;
    height: 38px;
    width: 0;
    flex:1;
    border: solid 1px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-color: rgb(192,192,192);
    font-size: 18px;
    box-shadow:inset 1px 2px 3px rgba(0, 0,0,0.05);
}
.search-button{
    height: 42px;
    width: 70px;
    margin-left: -2px;
    border:solid 1px;
    border-color: rgb(192, 192, 192);
    background-color: aliceblue;
    margin-right: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-icon{
    width: 26px;
}
.voice-button{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
}
.voice-icon{
    width: 26px;
}
.right-bar{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 201px;
    margin-right: 28px;
    flex-shrink: 0;
    /* margin-left: 30px; */
}
.upload-icon{
    width: 27px;
}
.app-icon,.noti-icon{
    width:27px;
}
.profile-icon{
    width:35px;
    height: 35px;
    border-radius: 50px;
}
.side-bar{
 display:flex;
 align-items:center;
 position: fixed;
 top: 63px;
 left:0;
 bottom: 0;
 width: 80px;
 flex-direction: column;
 row-gap: 12px;
 background-color:white;

}
.explore-icon,.home-icon,.subscriptions-icon,.originals-icon,.music-icon,.library-icon{
    height: 27px;
}
.home{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore,.subs,.original,.music,.library{
width: 80px;
height: 70px;
display: flex;
flex-direction: column;
align-items: center;
}
.text{
    font-size: 12px;
    font-family: Roboto,Arial, Helvetica, sans-serif ;
    margin-top: 8px;
}